In [7]:
import pandas as pd
import numpy as np
import plotly.express as px

In [8]:
# Read labelled data into pandas dataframe
df = pd.read_csv("./output/labelled_data.csv")

In [9]:
df.head()

,customer_unique_id,order_id,order_status,order_purchase_timestamp,customer_zip_code_prefix,customer_city,customer_state,price,freight_value,payment_sequential,payment_type,payment_installments,payment_value,product_category,order_purchase_year,order_purchase_month,order_purchase_day,clusters
0,7c396fd4830fd04220f754e42b4e5bff,e481f51cbdc54678b7cc49136f2d6af7,delivered,2017-10-02 10:56:33,3149,sao paulo,SP,29.99,8.72,1,credit_card,1,18.12,housewares,2017,10,2,4
1,7c396fd4830fd04220f754e42b4e5bff,e481f51cbdc54678b7cc49136f2d6af7,delivered,2017-10-02 10:56:33,3149,sao paulo,SP,29.99,8.72,3,voucher,1,2.00,housewares,2017,10,2,4
2,7c396fd4830fd04220f754e42b4e5bff,e481f51cbdc54678b7cc49136f2d6af7,delivered,2017-10-02 10:56:33,3149,sao paulo,SP,29.99,8.72,2,voucher,1,18.59,housewares,2017,10,2,4
3,3a51803cc0d012c3b5dc8b7528cb05f7,128e10d95713541c87cd1a2e48201934,delivered,2017-08-15 18:29:31,3366,sao paulo,SP,29.99,7.78,1,credit_card,3,37.77,housewares,2017,8,15,4
4,ef0996a1a279c26e7ecbd737be23d235,0e7e841ddf8f8f2de2bad69267ecfbcf,delivered,2017-08-02 18:24:47,2290,sao paulo,SP,29.99,7.78,1,credit_card,1,37.77,housewares,2017,8,2,4

## Cluster 0

In [10]:
# Subset the dataframe to just `cluster 0` profiles
cluster_0_df = df[df["clusters"]==0]
cluster_0_df.head()

,customer_unique_id,order_id,order_status,order_purchase_timestamp,customer_zip_code_prefix,customer_city,customer_state,price,freight_value,payment_sequential,payment_type,payment_installments,payment_value,product_category,order_purchase_year,order_purchase_month,order_purchase_day,clusters
12,1bcb517dc3cc80868d2fa941174f386c,a3bf941183211246f0d42ad757cba127,delivered,2017-07-24 22:16:25,6298,osasco,SP,44.99,7.78,1,credit_card,2,52.77,cool_stuff,2017,7,24,0
18,8b8d696df5beff17e7cfef915f0d1d78,1f201b2bf1eecbd0ad32c3f430846b84,delivered,2017-09-26 21:32:17,5782,sao paulo,SP,48.90,11.73,1,credit_card,4,60.63,cool_stuff,2017,9,26,0
19,a6b38dcfe711532c6f588ca185770b2d,84aaa1a774e37a0a7c1a5413dc49e168,delivered,2017-07-21 10:03:34,5417,sao paulo,SP,44.99,7.78,1,credit_card,1,52.77,cool_stuff,2017,7,21,0
22,c6eefe8e9d3cd8a9ef18730a674d9add,f37bdf37547266e7d6760e52bc87dfe3,delivered,2017-07-25 16:49:56,2261,sao paulo,SP,44.99,7.78,1,credit_card,1,2.77,cool_stuff,2017,7,25,0
23,c6eefe8e9d3cd8a9ef18730a674d9add,f37bdf37547266e7d6760e52bc87dfe3,delivered,2017-07-25 16:49:56,2261,sao paulo,SP,44.99,7.78,2,voucher,1,50.00,cool_stuff,2017,7,25,0

In [11]:
customers =cluster_0_df["customer_unique_id"].nunique()
print("Number of customers in the Cluster 0:", customers)

Number of customers in the Cluster 0: 32672