In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

In [2]:
# Read labelled data into pandas dataframe
df = pd.read_csv("./output/labelled_data.csv")

In [3]:
df.head()

,order_status,order_purchase_timestamp,customer_zip_code_prefix,customer_city,customer_state,price,freight_value,payment_sequential,payment_type,payment_installments,payment_value,product_category,order_purchase_year,order_purchase_month,order_purchase_day,clusters
0,delivered,2017-10-02 10:56:33,3149,sao paulo,SP,29.99,8.72,1,credit_card,1,18.12,housewares,2017,10,2,4
1,delivered,2017-10-02 10:56:33,3149,sao paulo,SP,29.99,8.72,3,voucher,1,2.00,housewares,2017,10,2,4
2,delivered,2017-10-02 10:56:33,3149,sao paulo,SP,29.99,8.72,2,voucher,1,18.59,housewares,2017,10,2,4
3,delivered,2017-08-15 18:29:31,3366,sao paulo,SP,29.99,7.78,1,credit_card,3,37.77,housewares,2017,8,15,4
4,delivered,2017-08-02 18:24:47,2290,sao paulo,SP,29.99,7.78,1,credit_card,1,37.77,housewares,2017,8,2,4